@media screen and (min-width: 480px) {
  .container {
    max-width: 450px;
  }
  .hero {
    background-image: var(--bg-gradient), url(../images/mobil-slider-img\ 3.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-gradient),
        url(../images/mobil-slider-img\ 3\ -2x.jpg);
    }
  }
  .prices {
    background-image: url(../images/mobil-prices-bg.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .prices {
      background-image: url(../images/mobil-prices-bg-2x.png);
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
