:root {
  --main-text: #555555;
  --grey-text: #9da4bd;
  --grey-text-info: #9da4bd66;
  --title-color: #303030;
  --grey-trasp: #9da4bd99;
  --accent: #ff6c00;
  --main-backgroung: #e5e5e5;
  --hero-background: #191c2633;
  --dark-background: #191c26;
  --prices-background: #111319;
  --cont-background: #f7f7f7;
  --total-white: #ffffff;
  --grey-transparency: #9da4bd1f;
  --backdrop-backgroung: #171a246e;
  --backdrop-background: #191c2633;
  --bg-gradient: linear-gradient(#191c2633, #191c2633);
}
/*======== GENERAL ========*/
body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-text);
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 84px;
  padding-bottom: 84px;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid crimson;
}
.btn {
  display: block;
  min-width: 160px;
  height: 40px;
  border: 1px solid var(--accent);
  border-radius: 25px;
  background: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 1.08px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 300ms linear, background-color 300ms linear;
}

.btn:is(:hover, :focus) {
  color: var(--total-white);
  background-color: var(--accent);
}
.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: normal;
  letter-spacing: 2.1px;
}
.slogan {
  line-height: calc(26 / 16);
  letter-spacing: 0.32px;
}
.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}
.suptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: normal;
  letter-spacing: 2.2px;
  color: var(--title-color);
  transition: color 300ms linear;
}
.social-link:is(:hover, :focus) {
  color: var(--accent);
}

/* ======= Mobil-Modal-Window =======  */

.menu-open-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 300ms linear;
}
.menu-open-btn:is(:hover, :focus) {
  background-color: var(--accent);
}
.burger-icon {
  display: block;
  width: 40px;
  height: 40px;
  fill: var(--total-white);
}

.mob-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-background);
  transition: opacity 300ms linear, visibility 300ms linear;
}
.mob-menu-backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.mobil-menu {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 337px;
  width: 100%;
  height: 100%;
  padding: 48px 30px 0 40px;
  background-color: var(--total-white);
  transform: scale(1);
  transition: transform 300ms linear;
}
.mob-menu-backdrop.is-hidden .mobil-menu {
  transform: scale(0.5);
}
.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-bottom: 30px;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  transition: fill 300ms linear, background-color 300ms linear;
}
.menu-close-btn:is(:hover, :focus) {
  fill: var(--total-white);
  background-color: var(--accent);
}
.menu-close-icon {
  width: 18px;
  height: 18px;
}
.menu-nav {
  margin-bottom: 64px;
}
.menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  color: var(--title-color);
  transition: color 300ms linear;
}
.menu-link:is(:hover, :focus) {
  color: var(--accent);
}
.menu-nav-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-menu-phone {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.mob-menu-btn {
  min-width: 194px;
  margin-bottom: 68px;
  color: var(--title-color);
}
.modal-menu-socials {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-social-item {
  display: flex;
  gap: 40px;
  align-items: center;
}
.menu-social-item::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  stroke: transparent;
}
.menu-social-item:last-child::before {
  visibility: hidden;
}
.modal-menu-social {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.2em;
  color: var(--title-color);
  transition: color 300ms linear;
}
.modal-menu-social:is(:hover, :focus) {
  color: var(--accent);
}

/*======== HEADER ========*/

.header {
  position: absolute;
  width: 100%;
  top: 40px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .logo {
    margin-right: 130px;
  } */
.logo-icon {
  display: block;
  fill: var(--total-white);
}
.nav-list,
.header-nav,
.header-phone,
.header-btn {
  display: none;
}

/* .nav-list {
  gap: 30px;
}
.header-phone {
  margin-left: auto;
  margin-right: 44px;
}

/*======== HERO ========*/

.hero {
  background-image: var(--bg-gradient), url(../images/mobil-slider-img\ 3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}
.hero-container {
  display: flex;
}
.left-side {
  /* width: 100px;
  padding-left: 27px; */
  display: none;
}
.hero-content {
  width: 320px;
  padding-top: 208px;
  padding-bottom: 208px;
  /* padding: 272px 100px 208px 100px; */
}
.hero-suptitle {
  margin-bottom: 20px;
  color: var(--grey-trasp);
}
.hero-title {
  /* font-size: 72px;
  line-height: calc(85 / 72); */
  margin-bottom: 20px;
  font-size: 48px;
  line-height: calc(56 / 48);
  letter-spacing: 2.4px;
  color: var(--total-white);
}
.hero-slogan {
  min-width: 320px;
  color: var(--grey-text);
}

/*======== ABOUT ========*/
.about {
  background-color: var(--total-white);
}
.about-imgs {
  display: none;
}
.about-content {
  /* padding-left: 30px;
  padding-right: 100px; */
}
.about-suptitle {
  margin-bottom: 20px;
  color: var(--title-color);
  letter-spacing: normal;
}
.about-title {
  font-size: 28px;
  letter-spacing: 1.4px;
  width: 308px;
  margin-bottom: 20px;
  color: var(--title-color);
}
.about-slogan {
  margin-bottom: 20px;
}
.about-text {
  /* margin-bottom: 42px; */
  margin-bottom: 40px;
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.28px;
}
.about-btn {
  color: var(--title-color);
  background: none;
}

/* ======= STOP ======== */
/*======== PRICES ========*/
.prices {
  background-color: var(--prices-background);
  background-image: url(../images/mobil-prices-bg.png);
  /* max-width: 1600px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.prices-suptitle {
  margin-bottom: 20px;
  letter-spacing: normal;
  color: var(--grey-trasp);
}
.prices-title {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 44px;
  color: var(--total-white);
}
.services-prices {
  /* display: flex;
  gap: 30px; */
  padding: 30px 20px 30px 40px;
  margin-bottom: 44px;
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-list {
  /* width: calc((100% - 30px) / 2);
  padding: 30px 20px; */
}
/* .price-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}
.price-list:last-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
} */
.price-item {
  display: flex;
  /* gap: 12px; */
  gap: 4px;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}
.price-list:last-child .price-item:last-child {
  margin-bottom: 0;
}
/* .price-item:last-child {
  margin-bottom: 0;
} */
.price-item::before {
  content: "";
  /* width: 100px; */
  height: 1px;
  flex-grow: 1;
  background-color: var(--grey-transparency);
}
.price-text {
  font-size: 14px;
  line-height: calc(20 / 14);
  letter-spacing: 0.28px;
  order: -1;
  color: var(--grey-text);
}
.price-price {
  font-size: 14px;
  line-height: calc(20 / 14);
  letter-spacing: 0.28px;
  color: var(--grey-text);
}
.prices-btn {
  margin: 0 auto;
  color: var(--total-white);
  background: none;
}
/*======== WHY ========*/
.why {
  background-color: var(--total-white);
}
.why-container {
  /* display: flex; */
  /* padding-left: 85px;
  padding-right: 115px;
  gap: 130px; */
}
.why-suptitle {
  /* margin-top: 9px; */
  margin-bottom: 20px;
  color: var(--title-color);
  letter-spacing: normal;
}
.why-title {
  /* min-width: 418px; */
  /* max-width: 430px; */
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  color: var(--title-color);
}
.why-slogan {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
  margin-bottom: 44px;
  max-width: 418px;
  /* max-width: 500px; */
}
.why-list {
  display: flex;
  flex-wrap: wrap;
  /* width: 370px; */
  max-width: 418px;
}
.why-item {
  /* width: 170px; */
  max-width: 193px;
  height: 133px;
  /* padding: 20px 24px; */
  padding: 20px 35px;
  text-align: center;
  background-color: var(--cont-background);
}
.why-item:nth-child(even) {
  /* margin-top: 35px; */
  margin-top: 30px;
  margin-left: 30px;
}
.count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--title-color);
}
.count::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  vertical-align: top;
  color: transparent;
  text-shadow: 0 8px 0 var(--accent);
}
.count + p {
  padding-top: 6px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: normal;
  color: var(--title-color);
}

/*======== BARBERS ========*/
.barbers {
  background-color: var(--cont-background);
}
.barbers-suptitle {
  margin-bottom: 20px;
  color: var(--title-color);
  letter-spacing: normal;
}
.barbers-title {
  margin-bottom: 44px;
  color: var(--title-color);
}
.barbers-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
  /* gap: 30px; */
}
.barbers-item {
  /* flex-basis: calc((100% - 60px) / 3); */
}
.barbers-info {
  padding-top: 30px;
}
.barbers-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.36px;
  text-align: center;
  color: var(--title-color);
}
.barbers-desc {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: center;
  color: var(--accent);
}
.barbers-social {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.barbers-social li {
  width: 44px;
  height: 44px;
}
.social-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--total-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
  transition: fill 300ms linear;
}
.social-item:is(:hover, :focus) > .social-icon {
  fill: var(--accent);
}

/*======== PORTFOLIO ========*/
.portfolio {
  background-color: var(--total-white);
}
.portfolio-suptitle {
  /* margin-bottom: 44px; */
  margin-bottom: 70px;
  color: var(--title-color);
  letter-spacing: normal;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.portfolio-list li {
  /* width: calc((100% - 90px) / 4); */
}

/*======== ONLINE-CONTACT ========*/

.online-contact {
  background-color: var(--dark-background);
  /* max-width: 1600px; */
  margin: 0 auto;
  /* background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: calc(50% - 15px); */
}

/*======== BOOKING ========*/
.booking {
  /* padding-top: 130px;
  padding-bottom: 183px;
  width: calc(50% + 15px);
  padding-right: 25px; */
}

.booking-title {
  text-align: center;
  margin-bottom: 44px;
  color: var(--total-white);
}
.booking-form-label {
  display: block;
  position: relative;
  color: var(--grey-text-info);
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin-bottom: 44px;
}
.form-label-title {
  position: absolute;
  top: 2px;
}
.booking-form-label:is(:hover, :focus) {
  color: var(--total-white);
}
.booking-form-label::after {
  display: block;
  content: "";
  margin-left: auto;
  margin-right: auto;
  max-width: 418px;
  height: 1px;
  background-color: var(--grey-text-info);
}
.booking-form-label:is(:hover, :focus)::after {
  background-color: var(--total-white);
}
.form-input {
  display: block;
  width: 418px;
  height: 24px;
  padding-left: 56px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  color: var(--total-white);
  background-color: transparent;
  border: none;
  outline: none;
}
.textarea-input {
  height: 60px;
  padding-left: 64px;
  resize: none;
}
.booking-btn {
  color: var(--total-white);
  background: none;
  margin: 0 auto;
}

/*======== CONTACTS ========*/
.contacts {
  background-image: url("../images/contacts-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* width: calc(50% - 15px); */
  /* padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 105px; */
}
.contacts-title {
  text-align: center;
  margin-bottom: 40px;
  color: var(--total-white);
}
.contacts-address {
  font-style: normal;
}
.address-link {
  font-size: 18px;
  font-weight: 700;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
  margin-bottom: 20px;
  color: var(--grey-text);
}
.address-link::before {
  content: url("../images/map-pin.svg");
  width: 24px;
  height: 24px;
}
.phone-link {
  margin-bottom: 20px;
  color: var(--grey-text);
}
.phone-link::before {
  content: url(../images/phone.svg);
  width: 24px;
  height: 24px;
}
.mail-link {
  text-decoration: underline;
  color: var(--grey-text);
  margin-bottom: 44px;
}
.mail-link::before {
  content: url("../images/mail.svg");
  width: 24px;
  height: 24px;
}
.contact-link {
  display: flex;
  gap: 16px;
  align-items: center;
  transition: color 300ms linear;
}
.contact-link:is(:hover, :focus) {
  color: var(--accent);
}
.contacts-suptitle {
  margin-bottom: 20px;
  color: var(--total-white);
}
.contacts-suptitle.suptitle::before {
  background-color: var(--grey-text-info);
}
.schedule {
  color: var(--grey-text);
}

/*======== FOOTER ========*/
.footer {
  padding-bottom: 44px;
  background-color: var(--cont-background);
}
.footer-container {
  display: flex;

  /* align-items: center; */
}
.copy {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 2.2px;
  color: var(--grey-text);
  margin-right: auto;
  margin-top: auto;
}
.footer-social {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: auto;
}
.footer-social::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: currentColor;
}
.footer-link {
  padding-top: 44px;
  padding-bottom: 44px;
  /* padding-top: 56px;
  padding-bottom: 56px; */
}

/*======== MODAL ========*/

.modal-open {
  overflow: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-backgroung);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}
.modal-close-btn {
  display: block;
  width: 30px;
  height: 30px;
  font-weight: 600;
  color: var(--main-text);
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid var(--grey-text);
  background-color: transparent;
  transition: color 300ms linear, background-color 300ms linear;
}
.modal-close-btn:is(:hover, :focus) {
  color: var(--total-white);
  background-color: var(--accent);
}
.modal-title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
  color: var(--main-text);
}
.modal-label {
  position: relative;
  display: block;
  margin-bottom: 8px;
}
.label-text {
  display: block;
  font-size: 12px;
  line-height: calc(16 / 12);
  margin-bottom: 4px;
  color: var(--main-text);
}
.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  font-size: 14px;
  color: var(--main-text);
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--grey-text);
  transition: border-color 300ms linear;
}
.input-icon {
  position: absolute;
  left: 8px;
  bottom: 11px;
  transition: fill 300ms linear;
}
.modal-input:focus,
.modal-input:focus + .input-icon {
  border-color: var(--accent);
  fill: var(--accent);
}
.comment-label {
  display: block;
  margin-bottom: 16px;
}
.modal-comment {
  display: block;
  width: 100%;
  height: 100px;
  padding: 8px;
  font-size: 14px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--grey-text);
  color: var(--main-text);
  resize: none;
  transition: border-color 300ms linear;
}
.modal-comment:focus {
  border-color: var(--accent);
}

.checbox-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 48px;
  font-size: 12px;
}
.checkbox-title {
  font-size: 14px;
  font-weight: 600;
  margin-right: 30px;
}
.checkbox-icon {
  border: 2px solid var(--grey-text);
  border-radius: 4px;
  transform: translateY(5px) translateX(-6px);
  fill: transparent;
  transition: fill 300ms linear, background-color 300ms linear,
    border-color 300ms linear;
}
.checkbox-input:checked + .checkbox-icon {
  fill: var(--total-white);
  background-color: var(--accent);
  border-color: transparent;
}
.submit-btn {
  margin-left: auto;
  margin-right: auto;
}
