:root {
    --main-text: #555555;
    --grey-text: #9DA4BD;
    --title-color: #303030;
    --grey-trasp: #9DA4BD99; 
    --accent: #FF6C00;
    --main-backgroung: #E5E5E5;
    --dark-background: #191C26;
    --servises-background: #111319;
    --cont-background: #F7F7F7;
    --total-white: #FFFFFF;

}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;
    color: var(--main-text);
    background-color: var(--main-backgroung);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/*======== COMPONENTS ========*/
.suptitle {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    color: var(--title-color);
    text-transform: uppercase;
}
.suptitle.dark-suptitle {
    color: var(--grey-trasp);
    }

/*======== HEADER ========*/
.header {
    /* background-color: var(--total-white); */
    background-color: var(--grey-text);
}
.logo {
}
.header-nav {
}
.header-link,
.header-phone {
font-weight: 600;
font-size: 12px;
line-height: calc(16/12);
letter-spacing: 0.1em;
color: var(--total-white);
cursor: pointer;
}
.header-link:is(:hover,:focus),
.header-phone:is(:hover,:focus)
 {
    color: var(--accent);
}
.btn-dark {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.09em;
    color: var(--total-white);
    background: var(--grey-text);
    border: 1px solid var(--accent);
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-dark:hover,
.btn-dark:focus {
    background: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 25px;
}

/*======== HERO ========*/
.hero {
}
.left-side {
}
.socials-link {
    font-weight: 600;
font-size: 11px;
line-height: calc(15/11);
letter-spacing: 0.2em;
color: var(--title-color);
}
.socials-link:hover,
.socials-link:focus {
    color: var(--accent);
}

.hero-title {
    font-family: 'Raleway',sans-serif;
    font-size: 72px;
    line-height: calc(85/72);
    letter-spacing: 0.05em;
    color: var(--total-white);
}
.slogan-dark {
    color: var(--grey-text);
}

/*======== ABOUT ========*/
.about {
    background-color: var(--total-white);
}
.about-imgs {
}
.about-title {
    font-family: 'Raleway',sans-serif;
    font-size: 42px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;
    color: var(--title-color);
}
.about-text {
    font-size: 14px;
    line-height: calc(26/14);
    letter-spacing: 0.02em;
}
.btn-light {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.09em;
    color: var(--title-color);
    background: var(--total-white);
    border: 1px solid var(--accent);
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-light:hover,
.btn-light:focus {
    color: var(--total-white);
    background: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 25px;
}

/*======== SERVISES ========*/
.services {
    background-color: var(--servises-background);
}
.services-title {
    font-family: 'Raleway',sans-serif;
    font-size: 42px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;
    color: var(--total-white);
}
.services-list {
}
.price-list {
}
.dark-btn {
}

/*======== WHY ========*/
.why {
}
.why-list {
}
.why-title {
}

/*======== BARBERS ========*/
.barbers {
}
.barbers-title {
}
.barbers-list {
}
.barbers-name {
}
.barbers-desc {
}
.barbers-social {
}

/*======== PORTFOLIO ========*/
.portfolio {
}
.portfolio-list {
}

/*======== BOOKING ========*/
.booking {
}
.booking-title {
}

/*======== CONTACTTS ========*/
.contacts {
}
.contacts-title {
}
.contacts-items {
}
.contacts-list {
}
.address-link {
}
.phone-link {
}
.mail-link {
}
.suptitle.contacts-suptitle {
    color: var(--total-white);
}
.suptitle-dark {
}

/*======== FOOTER ========*/
.footer {
}
.copy {
}
